header{
    width: 100vw;
}

footer {
    width: 100vw;
}

#winnerPannel {
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: rgba(55,55,55,0.1);
}

#board {
    width: 100vw;
    height: 72vh;
}

#game div
 {
    width: 500px;
    margin: auto;
    clear: both;
}

#game button
 {
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 50px;
    margin: 8px;
    float: left;
}